<?xml version="1.0" encoding="utf-8"?>

<feed xmlns="http://www.w3.org/2005/Atom">

    <title>{{bloghoven_setting('name')}}</title>
    <subtitle>{{bloghoven_setting('tagline')}}</subtitle>
    <link href="{{path('Bloghoven_index_feed', {'_format': 'atom'})}}" rel="self" />
    <link href="{{path('Bloghoven_index')}}" />
    {% if pager.nbResults > 0 %}
    <updated>{{pager.currentPageResults.0.postedAt|date("c")}}</updated>
    {% endif %}

    {% for entry in pager.currentPageResults %}
    <entry>
        <title>{{entry.title}}</title>
        <link type="text/html" href="{{path('Bloghoven_permalink', {'permalink_id': entry.permalinkId})}}" />
        <id>{{entry.permalinkId}}</id>
        <updated>{{entry.postedAt|date("c")}}</updated>
        <summary type="text/html">{{entry.excerpt|markdown}}</summary>
    </entry>
    {% endfor %}

</feed>